BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "usb_uart_rx" SITE "A11" ;
LOCATE COMP "usb_uart_tx" SITE "C11" ;
LOCATE COMP "sysclk" SITE "C8" ;
LOCATE COMP "led[0]" SITE "H11" ;
LOCATE COMP "led[1]" SITE "J13" ;
LOCATE COMP "led[2]" SITE "J11" ;
LOCATE COMP "led[3]" SITE "L12" ;
LOCATE COMP "led[4]" SITE "K11" ;
LOCATE COMP "led[5]" SITE "L13" ;
LOCATE COMP "led[6]" SITE "N15" ;
LOCATE COMP "led[7]" SITE "P16" ;
LOCATE COMP "sw[0]" SITE "N2" ;
LOCATE COMP "sw[1]" SITE "P1" ;
LOCATE COMP "sw[2]" SITE "M3" ;
LOCATE COMP "sw[3]" SITE "N1" ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
VCCIO_DERATE PERCENT 0; 
USERCODE HEX "5E6A0F0F" ; 
LOCATE COMP "master_i2c_scl" SITE "T5" ;
IOBUF PORT "sysclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sw[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "usb_uart_rx" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=NA ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "master_i2c_scl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "usb_uart_tx" IO_TYPE=LVTTL33 PULLMODE=NONE DRIVE=8 ;
